@media screen and (min-width: 375px) {
  .pole {
    border: 5px solid #5795ff;
    width: 10%;
    margin: 0 auto; } }

@media screen and (min-height: 900px) {
  #hamburger {
    display: none;
    margin: 0; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  nav {
    position: static;
    width: 55%;
    background: none;
    margin-top: 10px; }
    nav a {
      color: darkgrey;
      font-size: 1.5em; }
  nav.visible {
    -webkit-transform: none;
            transform: none; }
  #logo img {
    width: 73px; }
  .hero-name {
    font-size: 2.625em; }
  .hero-desc {
    font-size: 1.5em; }
  #about-link {
    font-size: 1.5em; }
  .about-name {
    visibility: hidden; }
  #about-name-inner {
    display: inline;
    text-align: center;
    margin: 12px 5px; }
  .about-desc {
    font-size: 1.5em; }
  .title {
    font-size: 3em;
    padding-top: 80px; }
  .project-link {
    font-size: 1.5em; }
  .scroll {
    font-size: 1.5em; }
  h3 {
    font-size: 2.25em; }
  #beginner-skills li {
    font-size: 1.65em; }
  #proficient-skills li {
    font-size: 1.65em; }
  .more-link {
    font-size: 1.8em; }
  .email p {
    font-size: 1.5em; } }
