$primary-color: #5795ff;

%border-outer {
  width: 70%;
  margin: 0 auto;
  border: 10px solid $primary-color;
  border-radius: 8px;
}

%border-inner {
  height: 90%;
  width: 90%;
  border: 4px solid $primary-color;
  background-color: lightgrey;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  // background-image: url(/images/programmingm.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

#hero {
  padding-top: 15vh;
  height: 100vh;
  width: 100vw;
  // background-image: url(/images/programmingm.png);
  // background-position: center center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 100px;
}

.hero-outer {
  @extend %border-outer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hero-inner {
  @extend %border-inner;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 70vh;
}

#logo img {
  width: 53px;
}

nav {
  position: absolute;
  // left: -30px;
  left: -100vw;
  top: 60px;
  width: 100vw;
  transition: transform 1s;
  background-color: $primary-color;
  // border-radius: 0 10px 10px 0;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.1em
  }

  a:hover {
    text-decoration: underline;
  }
}

nav.visible {
  transform: translate(100vw, 0);
}

#hamburger {
  text-decoration: none;
  font-size: 3.5em;
  color: $primary-color;
  margin-right: 5px;
}

.hero-name {
  font-size: 1.75em;
  margin-bottom: 0;
  margin-top: 20px;
}

.hero-desc {
  font-size: 1em;
  margin: 16px 0;
}

#profile-pic {
  width: 100px;
  margin-top: 30px;
}

#about-link {
  color: $primary-color;
  margin-top: 30px;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.about-me-outer {
  @extend %border-outer;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-inner {
  @extend %border-inner;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-name {
  color: $primary-color;
  text-align: center;
  font-size: 1.5em;
  height: 15vh;
  width: 70%;
  margin-top: 20px;
}

.about-desc {
  width: 45vw;
  text-align: center;
  font-size: 1em;
  margin: 12px 0 0;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#featured-title {
  color: $primary-color;
  text-align: center;
  font-size: 2em;
  // margin-bottom: 85px;
  height: 15vh;
  margin-top: 20px;
}

.work-outer {
  @extend %border-outer;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-inner {
  @extend %border-inner;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  overflow: scroll;
}
.all-projects {
  // height: 48vh;

}
.single-project {
  // width: 50vw;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.project-image {
  width: 65%;
}

.scroll {
  color: $primary-color;
  padding-top: 5px;
}

.project-link {
  text-decoration: none;
  color: black;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.skills-outer {
  @extend %border-outer;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-inner {
  @extend %border-inner;
  overflow: scroll;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

#skills-title {
  color: $primary-color;
  text-align: center;
  font-size: 2em;
  // margin-bottom: 85px;
  height: 15vh;
  margin-top: 20px;
}

#proficient-skills {
  height: 100%;

  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }

  ul {
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 5px;
    font-size: 1.1em;
  }

}

.more-link {
  text-align: center;

  p {
    color: $primary-color;
    font-size: 1.2em;
  }
}

#beginner-skills {
  height: 100%;

  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }

  ul {
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 5px;
    font-size: 1.1em;
  }

}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contact-outer {
  @extend %border-outer;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-inner {
  @extend %border-inner;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h3 {
    font-size: 1.5em;
    margin:  15px 0;
  }
}

#contact-title {
  color: $primary-color;
  text-align: center;
  font-size: 2em;
  // margin-bottom: 85px;
  height: 15vh;
  margin-top: 20px;
}

.email {
  text-align: center;
  height: 50%
}

.social {
  text-align: center;

}

#github {
  width: 66px;
  margin-right: 10px;
}
