body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.hero {
  height: 100vh;
  background-image: url(/images/programming2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 53px;
}

#hamburger {
  text-decoration: none;
  font-size: 3em;
  color: black;
  margin-right: 5px;
}
