$primary-color: #5795ff;

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/images/programmingm.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

#hero {
  height: 100vh;
  width: 100vw;
  // background-image: url(/images/programmingm.png);
  // background-position: center center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 100px;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#logo img {
  width: 53px;
}

nav {
  position: absolute;
  // left: -30px;
  left: -130px;
  top: 60px;
  transition: transform 1s;
  ul {
    list-style: none;
  }

  li {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1em
  }

  a:hover {
    text-decoration: underline;
  }
}

nav.visible {
  transform: translate(100px, 0);
}

#hamburger {
  text-decoration: none;
  font-size: 3.5em;
  color: $primary-color;
  margin-right: 5px;
}

.hero-name {
  font-size: 1.75em;
  margin-bottom: 0;
  margin-top: 20px;
}

.hero-desc {
  font-size: 1em;
  margin: 16px 0;
}

#profile-pic {
  width: 100px;
  margin-top: 30px;
}

#about-link {
  color: $primary-color;
  margin-top: 30px;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.about-name {
  color: $primary-color;
  text-align: center;
  font-size: 1.5em;
  height: 20vh;
  // margin-bottom: 55px;
  margin-top: 20px;
}

.about-desc {
  width: 45vw;
  text-align: center;
  font-size: 1em;
  margin: 16px 0;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#featured-title {
  color: $primary-color;
  text-align: center;
  font-size: 2em;
  // margin-bottom: 85px;
  height: 21vh;
  margin-top: 20px;
}

.all-projects {
  height: 48vh;
  overflow: scroll;
}
.single-project {
  width: 50vw;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.project-image {
  width: 60%;
}

.scroll {
  color: $primary-color;
  margin-top: 20px;
}

.project-link {
  text-decoration: none;
  color: black;
}
